.blogList {
  padding: 10px 16px;
  /* margin: 20px 0; */
  border-bottom: 1px solid #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.blogList a {
  text-decoration: none;

}

.blogHeader a {
  text-decoration: none;

}


.blogHeader {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 20px;
}

.blog:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 1);
  background-color: pink;
}

.rightNav :hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 1);
  background-color: pink;
  text-decoration: none;
  padding: 3px 6px;
}


.blog {
  cursor: pointer;
  margin-bottom: 8px;
  width: 30%;
}

.blog h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog h4 {
  font-size: 16px;
  margin-bottom: 4px;
}

.blog p {
  font-size: 14px;
  margin-bottom: 15px;

}

.blogList h1 {
  font-size: 24px;
  margin-bottom: 14px;
}